[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ValeriaPN
[access "refs/for/refs/*"]
	read = group user/ValeriaPN
	push = group user/ValeriaPN
	label-Code-Review = -2..+2 group user/ValeriaPN
	label-Verified = -1..+1 group user/ValeriaPN
	rebase = group user/ValeriaPN
	removeReviewer = group user/ValeriaPN
	submit = group user/ValeriaPN
[access "refs/heads/*"]
	read = group user/ValeriaPN
	create = group user/ValeriaPN
	push = +force group user/ValeriaPN
	pushMerge = group user/ValeriaPN
	label-Code-Review = -2..+2 group user/Alexander Pateenok (alex-pat)
	label-Code-Review = -2..+2 group user/UlyanaKiklevich
	label-Code-Review = -2..+2 group user/valik711
	labelAs-Code-Review = -2..+2 group Registered Users
[access "refs/tags/*"]
	push = +force group user/ValeriaPN
	pushTag = group user/ValeriaPN
	pushSignedTag = group user/ValeriaPN
